* {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: white;
  background-color: #1f2937;
}
.logo {
  height: 70px;
}
.links li {
  display: inline-flex;
  padding: 0px 30px;
  font-size: 18px;
}
.links a {
  text-decoration: none;
  color: #e5e7eb;
  transition: all 0.5s ease 0s;
}
.links a:hover {
  color: lightblue;
}
button {
  padding: 15px 30px;
  font-size: 18px;
  color: #e5e7eb;
  border: none;
  cursor: pointer;
  background-color: #3882f6;
  border-radius: 10px;
  transition: all 0.5s ease 0s;
}
button:hover {
  background-color: #3871d8;
}
.under-header {
  margin-top: 30px;
  display: flex;
  flex: 1;
  align-items: center;
}
.left-under-header {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.left-under-header * {
  margin-bottom: 25px;
}
.left-under-header p {
  margin-right: 300px;
}
.colorspread {
  height: 300px;
}
.mid-page {
  background-color: #1f2937;
  justify-content: space-between;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}
.mid-page h1 {
  margin-bottom: 25px;
}

.box {
  display: flex;
  flex: 1;
}
.box * {
  display: flex;
  height: 360px;
  margin: 0px 30px;
  border: 10px solid lightblue;
}
