* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  flex: 1;
  padding: 0rem 10%;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  color: white;
  background-color: #1f2937;
}
.home {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.2rem;
  color: #e5e7eb;
  transition: all 0.5s ease 0s;
}

.home a:hover {
  color: lightblue;
}
.home img {
  height: 2rem;
  margin-right: 1rem;
  filter: invert(100%);
}
.links li {
  display: inline-flex;
  padding: 0px 2rem;
  font-size: 1.2rem;
}
.links a {
  text-decoration: none;
  color: #e5e7eb;
  transition: all 0.5s ease 0s;
}
.links a:hover {
  color: lightblue;
}
.btn {
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
  color: #e5e7eb;
  border: none;
  cursor: pointer;
  background-color: #3882f6;
  border-radius: 1rem;
  transition: all 0.5s ease 0s;
}
.btn:hover {
  background-color: #3871d8;
}
.part-1 {
  display: flex;
  flex: 1;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 10%;
  background-color: #1f2937;
}
.part-1.left {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-between;
}
.part-1 h1 {
  color: #f9faf8;
}
.part-1 p {
  padding: 1rem 0rem;
}
.placeholder {
  width: 50%;
}
.part-2 {
  padding: 3rem 10%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.part-2 h1 {
  margin-bottom: 2rem;
}
.avatars {
  display: inline-flex;
  justify-content: space-between;
  margin: 0px 3rem;
}
.avatars img {
  width: 20%;
  border-radius: 1.5rem;
  border: 0.5rem solid lightblue;
}
.part-3 {
  background-color: #e5e7eb;
  padding: 3rem 20%;
  font-size: 1.5rem;
}
.part-3 p {
  color: #1f2937;
  font-style: italic;
}
.part-3 h3 {
  text-align: end;
}
.part-4 {
  height: 10%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 10%;
  margin: 4rem 10%;
  border-radius: 0.75rem;
  background-color: #3882f6;
}
.part-4 h2 {
  color: #f9faf8;
}
.part-4 p {
  box-sizing: border-box;
  padding-right: 1rem;
  font-size: 1rem;
  color: #e5e7eb;
}
.btn-signup {
  background-color: transparent;
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
  border: 0.2rem solid #e5e7eb;
  cursor: pointer;
  color: #e5e7eb;
  border-radius: 1rem;
  transition: all 0.5s ease 0s;
}
footer {
  padding: 1.5rem;
  font-size: 1rem;
  background-color: #1f2937;
  text-align: center;
  color: #e5e7eb;
}
